<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luban.system.dao.CheckOrderDao">

	<select id="get" resultType="com.luban.system.domain.CheckOrderDO">
		select `id`,`fk_shop_id`,`fk_station_id`,`carno`,`phoneno`,`driver_front_path`,`driver_back_path`,`check_price`,`needdriver`,`driver_cost`,`check_date`,`pay_way`,`order_status`,`fk_station_user_driver`,`exception_reason`,`fk_station_user_checkor`,`create_on`,`update_on` from lb_check_order where id = #{value}
	</select>

	<select id="list" resultType="com.luban.system.domain.CheckOrderDO">
		select `id`,`fk_shop_id`,`fk_station_id`,`carno`,`phoneno`,`driver_front_path`,`driver_back_path`,`check_price`,`needdriver`,`driver_cost`,`check_date`,`pay_way`,`order_status`,`fk_station_user_driver`,`exception_reason`,`fk_station_user_checkor`,`create_on`,`update_on` from lb_check_order
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="fkShopId != null and fkShopId != ''"> and fk_shop_id = #{fkShopId} </if>
		  		  <if test="fkStationId != null and fkStationId != ''"> and fk_station_id = #{fkStationId} </if>
		  		  <if test="carno != null and carno != ''"> and carno = #{carno} </if>
		  		  <if test="phoneno != null and phoneno != ''"> and phoneno = #{phoneno} </if>
		  		  <if test="driverFrontPath != null and driverFrontPath != ''"> and driver_front_path = #{driverFrontPath} </if>
		  		  <if test="driverBackPath != null and driverBackPath != ''"> and driver_back_path = #{driverBackPath} </if>
		  		  <if test="checkPrice != null and checkPrice != ''"> and check_price = #{checkPrice} </if>
		  		  <if test="needdriver != null and needdriver != ''"> and needdriver = #{needdriver} </if>
		  		  <if test="driverCost != null and driverCost != ''"> and driver_cost = #{driverCost} </if>
		  		  <if test="checkDate != null and checkDate != ''"> and check_date = #{checkDate} </if>
		  		  <if test="payWay != null and payWay != ''"> and pay_way = #{payWay} </if>
		  		  <if test="orderStatus != null and orderStatus != ''"> and order_status = #{orderStatus} </if>
		  		  <if test="fkStationUserDriver != null and fkStationUserDriver != ''"> and fk_station_user_driver = #{fkStationUserDriver} </if>
		  		  <if test="exceptionReason != null and exceptionReason != ''"> and exception_reason = #{exceptionReason} </if>
		  		  <if test="fkStationUserCheckor != null and fkStationUserCheckor != ''"> and fk_station_user_checkor = #{fkStationUserCheckor} </if>
		  		  <if test="createOn != null and createOn != ''"> and create_on = #{createOn} </if>
		  		  <if test="updateOn != null and updateOn != ''"> and update_on = #{updateOn} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from lb_check_order
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="fkShopId != null and fkShopId != ''"> and fk_shop_id = #{fkShopId} </if>
		  		  <if test="fkStationId != null and fkStationId != ''"> and fk_station_id = #{fkStationId} </if>
		  		  <if test="carno != null and carno != ''"> and carno = #{carno} </if>
		  		  <if test="phoneno != null and phoneno != ''"> and phoneno = #{phoneno} </if>
		  		  <if test="driverFrontPath != null and driverFrontPath != ''"> and driver_front_path = #{driverFrontPath} </if>
		  		  <if test="driverBackPath != null and driverBackPath != ''"> and driver_back_path = #{driverBackPath} </if>
		  		  <if test="checkPrice != null and checkPrice != ''"> and check_price = #{checkPrice} </if>
		  		  <if test="needdriver != null and needdriver != ''"> and needdriver = #{needdriver} </if>
		  		  <if test="driverCost != null and driverCost != ''"> and driver_cost = #{driverCost} </if>
		  		  <if test="checkDate != null and checkDate != ''"> and check_date = #{checkDate} </if>
		  		  <if test="payWay != null and payWay != ''"> and pay_way = #{payWay} </if>
		  		  <if test="orderStatus != null and orderStatus != ''"> and order_status = #{orderStatus} </if>
		  		  <if test="fkStationUserDriver != null and fkStationUserDriver != ''"> and fk_station_user_driver = #{fkStationUserDriver} </if>
		  		  <if test="exceptionReason != null and exceptionReason != ''"> and exception_reason = #{exceptionReason} </if>
		  		  <if test="fkStationUserCheckor != null and fkStationUserCheckor != ''"> and fk_station_user_checkor = #{fkStationUserCheckor} </if>
		  		  <if test="createOn != null and createOn != ''"> and create_on = #{createOn} </if>
		  		  <if test="updateOn != null and updateOn != ''"> and update_on = #{updateOn} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.luban.system.domain.CheckOrderDO">
		insert into lb_check_order
		(
			`id`, 
			`fk_shop_id`, 
			`fk_station_id`, 
			`carno`, 
			`phoneno`, 
			`driver_front_path`, 
			`driver_back_path`, 
			`check_price`, 
			`needdriver`, 
			`driver_cost`, 
			`check_date`, 
			`pay_way`, 
			`order_status`, 
			`fk_station_user_driver`, 
			`exception_reason`, 
			`fk_station_user_checkor`, 
			`create_on`, 
			`update_on`
		)
		values
		(
			#{id}, 
			#{fkShopId}, 
			#{fkStationId}, 
			#{carno}, 
			#{phoneno}, 
			#{driverFrontPath}, 
			#{driverBackPath}, 
			#{checkPrice}, 
			#{needdriver}, 
			#{driverCost}, 
			#{checkDate}, 
			#{payWay}, 
			#{orderStatus}, 
			#{fkStationUserDriver}, 
			#{exceptionReason}, 
			#{fkStationUserCheckor}, 
			#{createOn}, 
			#{updateOn}
		)
	</insert>
	 
	<update id="update" parameterType="com.luban.system.domain.CheckOrderDO">
		update lb_check_order 
		<set>
			<if test="fkShopId != null">`fk_shop_id` = #{fkShopId}, </if>
			<if test="fkStationId != null">`fk_station_id` = #{fkStationId}, </if>
			<if test="carno != null">`carno` = #{carno}, </if>
			<if test="phoneno != null">`phoneno` = #{phoneno}, </if>
			<if test="driverFrontPath != null">`driver_front_path` = #{driverFrontPath}, </if>
			<if test="driverBackPath != null">`driver_back_path` = #{driverBackPath}, </if>
			<if test="checkPrice != null">`check_price` = #{checkPrice}, </if>
			<if test="needdriver != null">`needdriver` = #{needdriver}, </if>
			<if test="driverCost != null">`driver_cost` = #{driverCost}, </if>
			<if test="checkDate != null">`check_date` = #{checkDate}, </if>
			<if test="payWay != null">`pay_way` = #{payWay}, </if>
			<if test="orderStatus != null">`order_status` = #{orderStatus}, </if>
			<if test="fkStationUserDriver != null">`fk_station_user_driver` = #{fkStationUserDriver}, </if>
			<if test="exceptionReason != null">`exception_reason` = #{exceptionReason}, </if>
			<if test="fkStationUserCheckor != null">`fk_station_user_checkor` = #{fkStationUserCheckor}, </if>
			<if test="createOn != null">`create_on` = #{createOn}, </if>
			<if test="updateOn != null">`update_on` = #{updateOn}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from lb_check_order where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from lb_check_order where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>