<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${finance.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">修理厂编号：</label>
								<div class="col-sm-8">
									<input id="fkShopId" name="fkShopId" th:value="${finance.fkShopId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收支标识 0 支出 1 收入：</label>
								<div class="col-sm-8">
									<input id="finFlag" name="finFlag" th:value="${finance.finFlag}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">金额：</label>
								<div class="col-sm-8">
									<input id="amount" name="amount" th:value="${finance.amount}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">财务类型(直接存储中文)：</label>
								<div class="col-sm-8">
									<input id="finType" name="finType" th:value="${finance.finType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">记录日期：</label>
								<div class="col-sm-8">
									<input id="logDate" name="logDate" th:value="${finance.logDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remarks" name="remarks" th:value="${finance.remarks}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人：</label>
								<div class="col-sm-8">
									<input id="createBy" name="createBy" th:value="${finance.createBy}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">create_on：</label>
								<div class="col-sm-8">
									<input id="createOn" name="createOn" th:value="${finance.createOn}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="updateBy" name="updateBy" th:value="${finance.updateBy}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="updateOn" name="updateOn" th:value="${finance.updateOn}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/finance/edit.js">
	</script>
</body>
</html>
